<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    <title>Detalhes Evento | EventosApp</title>
</head>
<body>
    <main class="container">
        <div class="row">
            <h1>Detalhes Evento</h1>
            <a class="waves-effect waves-light btn" href="/eventos"><i class="material-icons left">perm_contact_calendar</i>Lista de Eventos</a>
            <a class="waves-effect waves-light btn" href="/cadastrarEvento"><i class="material-icons left">add</i>Cadastrar Evento</a>
        </div>
        <div th:each="evento : ${evento}">
            <div class="row">                
                <p>Nome: <span th:text="${evento.nome}"></span></p>
                <p>Local: <span th:text="${evento.local}"></span></p>
                <p>Data: <span th:text="${evento.data}"></span></p>
                <p>Horario: <span th:text="${evento.horario}"></span></p>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <h5>Adicionar Convidado</h5>
                </div>
                <form method="POST">
                    <div class="input-field col s4">
                        Nome:<input type="text" value="" name="nome" />
                    </div>
                    <div class="input-field col s4">
                        RG:<input type="text" value="" name="rg" />
                    </div>
                    <div class="input-field col s4">
                        <button class="waves-effect waves-light btn" type="submit">Adicionar</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>