<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    <title>Cadastro de Evento | EventosApp</title>
</head>
<body>
	<header>
		<nav class="menu">
		    <div class="nav-wrapper">
                <a href="#" class="brand-logo">&nbsp Cadastro de Evento</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
		            <li>
                        <a class="waves-effect waves-light btn" href="/eventos">
                            <i class="material-icons left">perm_contact_calendar</i>Lista de Eventos
                        </a>
                    </li>
                </ul>
		    </div>
		</nav>
	</header>
    <main class="container">
        <div class="row">
            <div class="input-field col s12">
                <th:block th:include="mensagemValidacao"></th:block>
            </div>
        </div>
        <div class="row">
            <form method="POST">
                <div class="row">
                    <div class="input-field col s12">
                        Nome: <input type="text" value="" name="nome"/>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        Local: <input type="text" value="" name="local"/>
                    </div>
                    <div class="input-field col s3">
                        Data: <input type="date" value="" name="data"/>
                    </div>
                    <div class="input-field col s3">
                        Horario: <input type="text" value="" name="horario"/>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button type="submit" class="waves-effect waves-light btn">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>